@media only screen and (max-width: 620px) {
  .header,
  .bio {
    width: 100%;
  }
}

body,
html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
}

.background-img {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../beijing_soho.jpg");
  background-color: #000;
  height: 100%;
}

.container {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
  color: #fff;
}

.header {
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.lg {
  font-weight: 700;
}

.bio {
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  width: 30%;
  margin-left: 45%;
  margin-right: 20%;
  text-align: left;
}

.line {
  background-color: #fff;
  width: 100%;
  height: 2px;
  margin-top: 14px;
}

.bio span {
  color: black;
  background-color: white;
}

.bio .links {
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

.bio a {
  color: inherit;
  text-decoration: inherit;
}
